<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/pratica.css">
    <link rel="stylesheet" href="/stylesheets/pratica.css">    <title>Página não encontrada</title>
</head>
<div class="f">
    <img src="/images/Tweet-Web.png" width=" 300 px">
</div>
<body>
    <h1>Protótipo.</h1>
    <h2>Esta pagina esta sendo desenvolvida por um aluno do IFSP Campos caraguatatuba.
        <br>Cadastre-se faça login e deixe sua mensagem ou mande um arquivo com sua sugetão.
    </h2>
    <h1>Usuario já cadastrado. </h1>
    <h2>Ir para!!!</h2>
    <a href="/usuarios/cadastrar">
        <h1>Cadastro de usuario</h1>
    </a>
</body>

</html>