<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/pratica.css">
    <link rel="public" href="/">

</head>
<div class="f">
    <img src="/images/Tweet-Web.png" width=" 300 px">
</div>
<body>



    <div id="login">
        <form class="card">
            <div class="card-header">
                
            </div>
            <div class="card-l"> 
                <p>
                <a href="/autenticacao/login">
                    <h1>Entrar</h1>
                   
                </a>
            </p>
               <p>
                <a href="/usuarios/cadastrar">
                    <h1>Cadastrar</h1>
                </a>
            </p>
            </div>
            
        </form>
</div>

    

</html>