<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>web-dev</h1>
    <p>Sandro Donizeti Gomes</p>
  </body>
</html>
