a {
    color: #0a0a0a;
}

.b,
.f,
.g,
.t {
    top: 0;
    height: 70%;
    border-radius: 2px;
    max-width: 70%;
    min-width: 70%;
    border-left: 0;
    border-right: 0;
    padding: 0;
}

body {
    background: #b381e2;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: rgb(15, 14, 14);
}

.bt {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
}

.bt {
    position: absolute;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 2px;
    padding: 0;
    border: none;
    right: 2%;
    top: 0;
    max-width: 30%;
    min-width: 30%;
    height: 5%;
    background-image: url('33.jpg');
    background-size: cover;
}

.btn.btn-outline-light.text-dark {
    background: #fff;
    padding: 0px;
}

.btn.btn-outline-light.text-dark:hover, button:hover {
    background-color: #fc1d1d;
}

button:hover {
    background-color: #0530ee;
}

@media only screen and (max-width: 600px) {

    .bt,
    .l,
    .wrapper,
    .z,
    .m {
        position: static;
        width: auto;
        height: auto;
        max-width: 100%;
        min-width: 100%;
        border: none;
        border-radius: 0;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        padding: 0;
        margin: 0;
    }
}

/* Estilo padrão para desktop */
.c {
    top: 0;
    width: 240px;
    height: 40%;
    border-radius: 2px;
    margin-bottom: 0;
}

/* Para tablets */
@media (max-width: 768px) {
    .c {
        width:0px;
        height: 0px;
    }
}

/* Para smartphones */
@media (max-width: 480px) {
    .c {
        width: 200px;
        height: 40px;
        border-radius: 0;
    }
}


.cadastro{
    top: 5%;
    padding: 2%;
    padding: 2%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 4%;
    width: 20%;
    background-color: #fff;
    border-radius: 5px;
}
/* Estilo para o contêiner do formulário */
#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para o cartão */
.card {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para o cabeçalho do cartão */
.card-header {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para o rodapé do cartão */
.card-footer {
    text-align: center;
    margin-top: 20px;
}

/* Estilo para os campos de entrada */
.card-l input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.card-l input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo para o botão de login */
.submit {
    background-color: #4CAF50;
    color: rgb(12, 11, 11);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: #45a049;
}
/* Estilo para o link de cadastro */
.card-footer a {
    text-decoration: none;
    color: #0c0c0c;
    margin-left: 10px;
}


.custom-file-input {
    position: absolute;
    top: 250%;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border-left: 0;
    border-right: 0;
    padding: 0;
}

.d {
    width: 80%;
    padding: 5px;
}



.h {
    width: 340px;
    height: 320px;
}

h1 {
    color: #070707;
    padding: 0px;
    margin: 0px;
}

h3 {
    color: #7324da;
    padding: 0px;
    margin: 0px;
}

h5 {
    color: #fff;
    padding: 0px;
    margin: 0px;
}  

h6 {
    padding: 0px;
    margin: 0px;
}

.i {
    font-size: 12px; 
    color: rgb(246, 30, 1);
    margin-left: 18px;
}

.j {
    border-radius: 50px 5px 25px 1px;
    margin-left: 75px;
    height: auto;
    background-color: rgba(105, 231, 74, 0.089);
}

.l {
    position: absolute;
    top: 0%;
    left: 2%;
    height: 34px;
    border: 2px solid transparent;
    color: #fff;
    width: 10%;
}

li {
    padding: 0px;
    margin: 0px;
    width: 60px;
    height: 60px;
    margin-top: 1px;
}


.m {
    position: absolute;
    top: 10%;
    left: 2%;
    height: 34px;
    border: 2px solid transparent;
    color: #fff;
    width: 10%;
}
.n {
    position: absolute;
    top: 1%;
    left: 85%;
    right: 30%;
    height: 24px;
    color: #0c0b0b;
    width: 10%; 
}

.p {
    width: 1cm; 
    height: 1cm;
    border-radius: 50px;
}

.r {
    top: 2px;
    height: 45px;
    border-radius: 8PX;
}
/* Para tablets */
@media (max-width: 768px) {
    .r {
        width: 30%;
        height: 55%;
        border-radius: 8PX;
    }
}

/* Para smartphones */
@media (max-width: 480px) {
    .r {
        width: 30%;
        height: 55%;
        border-radius: 8PX;;
    }
}

.s {

    width: 237px;
    height: 174px;
    margin-left: 0px;
}

textarea {
    background-color: rgb(208, 207, 212);
    text-align: right;
}

ul {
    padding: 0px;
    margin: 0px;
    width: 60px;
    height: 60px;
    margin-top: 5px;
}

.v {
    width: 370px;
    height: 100px;
}

/* Para tablets */
@media (max-width: 768px) {
    .v {
        width: 100%;
        height: 35%;
    }
}

/* Para smartphones */
@media (max-width: 480px) {
    .v {
        width: 100%;
        height: 30%;
        border-radius: 0;
    }
}

.x {
    width: 370px;
    height: 60px;
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 16px;
}

.wrapper {
    position: absolute;
    top: 20%;
    left: 2%;
    right: 1%;
    height: 56%;
    border: 2px solid transparent;
    border-radius: 5px;
    min-width: 24%;
    color: #0e0d0d;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.9);
}



.z {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 76%;
    left: 2%;
    right: 1%;
    height: 8%;
    border-radius: 2px;
    border-left: 0;
    border-right: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.0);
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.photo-container {
    margin-top: 10px;
}

.uploaded-photo {
    max-width: 100px;
    max-height: 100px;
}



.cn label {
    display: block;
    margin-bottom: 5px;
}

/* Estilo para o contêiner do usuário */
.cu label {
    display: block;
    margin-bottom: 5px;
}

/* Estilo para o contêiner da foto */
.cf label {
    display: block;
    margin-bottom: 5px;
}

/* Estilo para o contêiner da data de nascimento */
.cdn label {
    display: block;
    margin-bottom: 5px;
}

/* Estilo para o contêiner da senha */
.cs label {
    display: block;
    margin-bottom: 5px;
}

/* Estilo para o contêiner do email */
.ce label {
    display: block;
    margin-bottom: 5px;
}

/* Estilo para o contêiner do sexo */
.cmf label {
    display: block;
    margin-bottom: 5px;
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #0c0c0c;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo para o botão de cadastro */
input[type="submit"] {
    background-color: #9ddf7f;
    color: rgb(17, 17, 17);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #fff;
}  

.mod{
    width: 10%;
    background-color: #1f2df5;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.mod1{
    width: 5.5%;
    height: 6%;
    background-color: #f30404;
    color: #fff;
    border: none;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {

   .mod,
   .mod1 {
        width: 23%;
        height: 7%;
        border-radius: 10px;
        padding: 10px;
        margin: 0;
       
    }
}
 
.upload-foto {
    width: 60px;
    height: 80px;
   
  }

  #close-modal {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  video {
    width: 100%;
    height: auto;
    /* Ajusta a altura automaticamente */
    max-width: 100%;
    /* Garante que o player não ultrapasse a largura do modal */
  }

  /* Estilos para o contêiner de entrada */
.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

/* Estilos para a caixa de texto */
input.c {
    width: 100%;
    padding-right: 40px; /* Espaço para o ícone */
    box-sizing: border-box;
    border-radius: 5px; 
}

/* Estilos para o ícone */
.icon {
    position: absolute;
    right: 10px; /* Espaçamento do lado direito */
    cursor: pointer;
    color: #666;
    transition: opacity 0.3s;
    font-size: 1.5em; /* Ajuste o tamanho do ícone */
}

.icon.hidden {
    opacity: 0;
}

/* Estilos para o modal e conteúdo */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    top: 3%;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 382px;
    position: relative;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
   
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {

    .modal-content {
        top: 3%;
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
        position: relative;
    }
 }
