<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/pratica.css">
    <link rel="stylesheet" href="/stylesheets/pratica.css">
    <title>Cadastrar Usuário</title>
</head>
<div class="f">
    <img src="/images/Tweet-Web.png" width=" 300 px">
</div><br><br>

<body>
    <ul>
        <li><a href="/autenticacao/login">
                <h1>Entrar</h1>
            </a></li>
    </ul>
    <div class="cadastro">
        <h1>Cadastrar Usuário</h1>
        <form method="post" action="/usuarios/cadastrar" required>
            <div class="cn">
                <h2><label for="name">Nome</label></h2>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="cu">
                <h2><label for="username">Usuario</label></h2>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="cf">
                <h2><label for="photo">Foto</label></h2>
                <input type="photo" id="photo" name="photo" required>
            </div>
            <div class="cdn">
                <h2> <label for="birthDate">Data de Nascimento</label></h2>
                <input type="date" id="birthDate" name="birthDate" required>
            </div>
            <div class="cs">
                <h2> <label for="password">Senha</label></h2>
                <input type="password" id="password" name="password" oninput="validatePassword()" required>
                <p id="password-message"></p>
            </div>
            <div class="ce">
                <h2><label for="email">Email</label></h2>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="cmf">
                <h2><label for="sex">Sexo</label></h2>
                <select id="sex" name="sex" required>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                    <option value="Outro">Outro</option>
                    <option value="Prefiro não responder">Prefiro não responder</option>
                </select>
            </div>
            <div>
                <input type="submit" value="Cadastrar">
            </div>
        </form>

    </div>
    
    <script>
        function validatePassword() {
            const passwordInput = document.getElementById("password");
            const passwordMessage = document.getElementById("password-message");
            const passwordValue = passwordInput.value;
            const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$/;
            if (passwordPattern.test(passwordValue)) {
                passwordMessage.textContent = "Senha válida";
                passwordMessage.style.color = "LawnGreen";
            } else {
                passwordMessage.style.color = "OrangeRed";
                passwordMessage.style.fontSize = "26px";
            }
        }
    </script>
</body>

</html>