<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/pratica.css">
    <link rel="stylesheet" href="/stylesheets/pratica.css">    <title>Exibir Usuário</title>
</head>
<div class="f">
    <img src="/images/Tweet-Web.png" width=" 300 px">
</div>
<body>
    <p>
        <a href="/autenticacao/login">
            <h1>Entrar</h1>
        </a>
    </p>

</body>

</html>